In [1]:
import numpy as np

In [2]:
def random_list(size):
  list = []
  for i in range(size):
    list.append(np.random.randint(10,50))
  return list

def sum_random (list):
  sum = 0
  for i in range(len(list)):
    sum = sum + list[i]
  return sum

In [13]:
x=0
n = int(input("Enter an integer between 1 and 15: "))

if n<1:
  print("Please enter an integer between 1 and 15.")

if n>15:
  print("Please enter an integer between 1 and 15.")

Enter an integer between 1 and 15: 12

In [26]:
print("The elements of the array are: ")
MyList = np.random.randint(10, 50, n)
MyList

The elements of the array are:

array([35, 48, 10, 42, 40, 33, 36, 13, 49, 17, 19, 27])

In [27]:
print("The sum is: ")
MySum = sum(MyList)
MySum

The sum is:

369